*{
  margin:0;
}
body{
  background: linear-gradient(yellow,cyan);
  width:100%;
}
main{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  flex-direction: column;
}
article{
  display:flex;
  justify-content: center;
  align-items: center;
  max-width:100%;
  width:900px;
  flex-direction: column;
}
img{
  width:900px;
  max-width:100%;
}
#sigCommentsBlock{
  width:900px;
  max-width: 100%;
}
/* #eng{
  display:none;
} */
